# build output
dist/

# dependencies
node_modules/

# astro
.astro/

# environment variables
.env
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# claude
.claude/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
